.category__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    height: 70px;
    box-shadow: -1px 2px 5px #0000002f;
}

.category__list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #414141;
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0px 40px;
    transition: all .2s ease;
}

.category__list-item:hover{
    background-color: #3a3a3a;
    /* background-color: #245462; */
    color: #fff;
    cursor: pointer;

}

.category__list-item:hover .category__icon path{
    fill: #fff;
}
.category__list-item .red,
.category__list-item .menu{
    padding: 0px;
}


.red{
    transition: all .1s ease;
    color: #D74444;
}

/* .category__list-item:hover .red{
    color: #fff;
} */

.menu{
    position: relative;
}

.menu,
.menu::before,
.menu::after{
    content: "";
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #202020;
    transition: all .2s ease;

}

.menu::before,
.menu::after{
    position: absolute;
}

.menu::before{
    top: -6px;
}

.menu::after{
    bottom: -6px;
}

.category__list-item:hover .menu,
.category__list-item:hover .menu::before,
.category__list-item:hover .menu::after{
    background-color: #fff;
}

.category__icon {
    margin-right: 10px;

    user-select: none;
}
.category__icon path{
    transition: all .1s ease;

}

.category__title{
    user-select: none;
    
}

.category__dropdown{
    display: none;
    flex-direction: column;
    padding: 0;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 70px;
    left: 0;
    box-shadow: 0px 3px 3px #0000001b;
    background-color: #fff;
    transition: all .5s ease;
}

.category__dropdown-item{
    margin-bottom: 5px;
    padding: 25px 20px;

}

.category__dropdown-item:hover{
    background-color: #4b4b4b;
    cursor: pointer;
}

.category__dropdown-item:hover .category__dropdown-link{
    color: #fff;
}


.category__dropdown-link{
    /* color: #245462; */
    color: #3a3a3a;
    text-decoration: none;
}

.category__list-item:hover .category__dropdown{
    display: block;
}